body {
    background-image:url(nebula.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    color: #000000FF;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 16px;
}

h1, p {
    margin: .5em auto;
    text-align: center;  
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}

form, .title {
    background: linear-gradient(120deg, #ffffffcc, #aaaaaacc);
    width: 60vw;
    max-width: 700px;
    border: #000000aa solid 1px;
    border-radius: 0.5rem;
    margin: 1em auto; 
}

fieldset {
    border: none;
    border-bottom: #000000aa solid 3px;
    margin-top: 0.5rem;
}

fieldset:last-of-type {
    border: none;
}

input, textarea, select {
    width: 100%;
    margin: 1rem auto;
    min-height: 1.5rem;
    border: #000000aa solid 1px;
    border-radius: 0.25rem;
}

input, textarea {
    background-color: #333333aa;
    color: #ffffff;
}

label {
    display: block;
}

.inline {
    width: unset;
    margin: 0 0.5rem 0 0.5rem;
    vertical-align: middle;
    display: inline-block;
}

.vertical {
    width: unset;
    margin: 0 0.5rem 0 0.5rem;
    vertical-align: middle;    
}
 
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #333333dd;
    border-color: white;
    min-width: 300px;
}